# Ignore Python cache
__pycache__/
*.pyc

# Ignore environments
env_LW/
.venv/

# Ignore IDE settings
.idea/
.vscode/

# Ignore data
data/

# Ignore stray files from earlier ssh-agent mistake
eval "$(ssh-agent -s)"
eval "$(ssh-agent -s)".pub
